#makeImportant() {
@import '_lesshat.less';

@cdn: 'https://d40a5d4f9342b88214ae-ff644209e129d3e2766bb57251455d23.ssl.cf1.rackcdn.com/';

.anim(@property: all, @time:.3s) {
    -webkit-transition: @property @time ease-out;
    -moz-transition: @property @time ease-out;
    -ms-transition: @property @time ease-out;
    -o-transition: @property @time ease-out;
    transition: @property @time ease-out;
}

@keyframes hoveranimation {
    0%{
        width:0;
    }
    100% {
        width:100%;
    }
}

// ============================================================
// BANNER
// ============================================================
#banner-wrap {
    @file: 'banner-background.png';
    @url: '@{cdn}@{file}';
    height: 90px;
    width: 728px;
    background: url(@url);
    overflow: hidden;
    position: relative;
    margin:0 auto 20px;
}
#child-image {
    position: absolute;
    top: 0;
    left: 331px;
    width: 67px;
    height: 90px;
}
#child-image img {
    width: 100%;
    height: auto;
    display: block;
}
#child-info-left {
    position: absolute;
    top: 20px;
    left: 173px;
    width: 155px;
    height: 50px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.3em;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 1, .25);
    text-align: center;
}
#child-info-right {
    position: absolute;
    top: 19px;
    left: 406px;
    width: 145px;
    height: 50px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.3em;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 1, .25);
    text-align: center;
    strong {
        font-family: Arial, sans-serif;
    }
    &:hover span.hover:before{
        .animation-name(hoveranimation);
        .animation-duration(1s);
        .animation-iteration-count(1);
        .animation-fill-mode(forwards);
    }
    p.uppercase {
        .banner_moving_text {
            display: block;
        }
        .smaller {
            letter-spacing: normal;
            font-size: 16px;
            display: inline-block;
            line-height: 1.1em;
            margin-top: -9px;
        }
        .yellow {
            color:#f7bb03;
        }
    }
}
#child-info-right strong {
    font-family: Arial, sans-serif;
}
#child-info-right p, #child-info-left p {
    line-height: 1.25em ;
}
#child-info-right span.hover {
    cursor: pointer;
    display: block;
    font-size: 10px;
    line-height: 1.1em;
    color: #02294e;
    text-shadow: none;
    padding: 3px 15px;
    background-color: #80afdd;
    background-color: rgba(255, 255, 255, .5);
    .border-radius(9px);
    overflow: hidden;
    position: absolute;
    bottom: -8px;
    margin-top: 5px;
    strong {
        overflow: hidden;
        position: relative;
        z-index: 1;
    }
    &:before {
        content:"";
        position: absolute;
        left:0;
        width:0;
        top:0;
        bottom:0;
        background: #ccdff1;
        z-index: 0;
        .border-radius(9px);
    }

    display: none;
    #banner-wrap.ready & {
        display: block;
    }
}
#child-info-left p, #child-info-right p {
    margin: 0;
}
p.uppercase {
    text-transform: uppercase;
}
p.small {
    font-size: 16px;
}
p.smaller {
    font-size: 16px;
}
p.smallest {
    font-size: 16px;
}
#logo-link {
    position: absolute;
    left: 0;
    top: 0;
    cursor: default;
    height: 90px;
    width: 157px;
}
#banner-wrap #sponsor-button {
    @file: 'banner-button.png';
    @url: '@{cdn}@{file}';
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 90px;
    width: 149px;
    background: url(@url);
}
#banner-wrap #sponsor-button a {
    display: inline-block;
    height: 90px;
    width: 149px;
}

// ============================================================
// MODAL
// ============================================================
#banner-hover {
    @file: 'hover-background.jpg';
    @url: '@{cdn}@{file}';
    box-sizing: border-box;
    padding: 11px 7px 12px 10px;
    height: 482px;
    width: 937px;
    background: url(@url) no-repeat 10px 11px;
    overflow: visible;
    position: relative;

    // banner modal specific
    &.banner-modal {
        position: fixed;
        left:50%;
        top:0;
        .transform(translate(-50%, -150%));
        .anim();
        z-index: 100;
        & > * {
            z-index: 1;
        }
        &.displayed{
            top:50%;
            .transform(translate(-50%, -50%));
        }
        .close-banner {
            color: #333;
        }
    }
    &:after {
        position: absolute;
        content:"";
        top:5px;
        right:5px;
        bottom:9px;
        left:5px;
        .box-shadow(0 0 50px rgba(0,0,0,.3));
        z-index: -1;
    }
}
.banner-hover-overlay.displayed {
    z-index: 99;
    position: fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    filter:progid:DXImageTransform.Microsoft.gradient(~'startColorstr=#8cffffff,endColorstr=#8cffffff');
    background: rgba(255,255,255,.5);
}

.home #banner-hover {
    margin:  5em auto;
}
.tb-border:before, .tb-border:after {
    @file: 'texture-top.png';
    @url: '@{cdn}@{file}';
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 11px;
    background: url(@url) no-repeat;
    background-size: 100% 100%
}
.tb-border:after {
    @file: 'texture-btm.png';
    @url: '@{cdn}@{file}';
    top: auto;
    bottom: 0;
    height: 12px;
    left: 3px;
    background-image: url(@url);
}
.lr-border:before, .lr-border:after {
    @file: 'texture-left.png';
    @url: '@{cdn}@{file}';
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    bottom: 12px;
    width: 10px;
    background: url(@url) no-repeat;
    background-size: 100% 100%
}
.lr-border:after {
    @file: 'texture-right.png';
    @url: '@{cdn}@{file}';
    left: auto;
    right: 0;
    width: 7px;
    background-image: url(@url);
}
#banner-hover #video {
    @file: 'video-background.png';
    @url: '@{cdn}@{file}';
    width: 581px;
    height: 336px;
    background: url(@cdn);
    background-size: 100% 100%;
    overflow: hidden;
    position: absolute;
    bottom: 25px;
    left: 25px;
    padding: 9px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.fluid-video {
    position: relative;
    height: 0;
    padding-bottom: 56.333%;
}
.fluid-video .BrightcoveExperience {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#banner-hover #child-info {
    width: 270px;
    position: absolute;
    top: 140px;
    left: 632px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 15px;
    line-height: 24px;
    text-shadow: 0 1px 1px #fff;
}
#banner-hover #child-info p {
    margin: 0 0 20px 0;
    line-height: 1.25em;
}
#banner-hover #child-info p.big {
    font-size: 20px;
}
#banner-hover #sponsor-button, #banner-hover #modal-sponsor-button {
    @file: 'hover-button.gif';
    @url: '@{cdn}@{file}';
    position: absolute;
    left: 630px;
    bottom: 35px;
    cursor: pointer;
    height: 55px;
    width: 270px;
    background: url(@url);
}
#banner-hover #sponsor-button a,  #banner-hover #modal-sponsor-button a {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
#CoverPop-cover {
    background: rgba(0, 0, 0, 0.5);
}
.close-banner {
    position: absolute;
    right:0;
    top:-30px;
    color: #fff;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight:normal;
    cursor:pointer;
}
#banner-hover .compassion-logo {
    @file: 'compassion-logo.png';
    @url: '@{cdn}@{file}';
    position:absolute;
    left:30px;
    top:35px;
    background: url(url) no-repeat center center;
    background-size:cover;
    width:152px;
    height:58px;
}
#banner-hover .blue-corner {
    @file: 'blue-corner.png';
    @url: '@{cdn}@{file}';
    position:absolute;
    right:0;
    top:4px;
    background: url(@url) no-repeat center center;
    background-size:cover;
    width:91px;
    height:90px;
    z-index: 999;
}
}

& {
    #makeImportant() !important;
}